* {
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}

table, th, td {
    border: 1px solid #fff;
    border-collapse: collapse;
    padding: 5px;
}

tr:nth-child(odd) {
    background-color: #ddd;
}

th {
    text-align: left;
}

td.action,
input.action {
    color: rgb(0, 64, 255);
    text-decoration: underline;
    cursor: pointer;
}

input.action {
    background-color: transparent;
    border: none;
    padding: 0;
}

.action-window {
    width: 300px;
    min-height: 100px;
    border: 1px solid #eee;
}

.action-window > div {
    display: none;
}

.action-window p {
    margin: 0;
}