* {
    box-sizing: border-box;
}

body {
    width: 80%;
    max-width: 300px;
    margin: 20px auto;
}

a {
    color: #000;
    text-decoration: none;
}

/* table (activities and activity_data) */

table, th, td {
    border: 1px solid #fff;
    border-collapse: collapse;
    padding: 5px;
}

tr:nth-child(odd) {
    background-color: #ddd;
}

th {
    text-align: left;
}

/* windows (activities and activity_data) */

form.add-activity {
    max-width: 300px;
    min-height: 100px;
    border: 1px solid #ddd;
}

.add-activity span {
    display: inline-block;
    width: 80px;
}

.add-activity p {
    margin: 0;
}

th.action {
    font-weight: normal;
}

td.action,
input.action {
    color: rgb(0, 64, 255);
    text-decoration: underline;
    cursor: pointer;
}

input.action {
    background-color: transparent;
    border: none;
    padding: 0;
}

.action-window {
    max-width: 300px;
    min-height: 120px;
    border: 1px solid #ddd;
}

.action-window > div {
    display: none;
}

.action-window p {
    margin: 0;
}

form.show-form {
    margin: 5px 0;
}

/* stats (activity_data) */

.stats {
    max-width: 300px;
    min-height: 100px;
    border: 1px solid #ddd;
}

.stats-header {
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 420px) {
    body {
        width: 90%;
    }
}